@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/vazirmatn/vazirmatn-100.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/vazirmatn/vazirmatn-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/vazirmatn/vazirmatn-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/vazirmatn/vazirmatn-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/vazirmatn/vazirmatn-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/vazirmatn/vazirmatn-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/vazirmatn/vazirmatn-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/vazirmatn/vazirmatn-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/vazirmatn/vazirmatn-900.woff2') format('woff2');
}

:root {
  --font-vazirmatn: 'Vazirmatn', ui-sans-serif, system-ui, sans-serif;
}
